<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.uni.fund.member.dao.MemberDAO">

    <select id="memberListAjax" parameterType="map" resultType="com.uni.fund.member.dto.MemberDTO">
      	SELECT m.*, COUNT(pt.ref_idx) AS ref_idx_cnt, COUNT(mm.mem_mng_idx) AS stop_mem_idx
		FROM member m
		LEFT JOIN rep_trans pt ON pt.ref_idx = m.mem_idx
		LEFT JOIN mem_mng mm ON mm.mng_div = m.mem_idx
		WHERE 1=1
		<if test="searchType != null and searchType != ''">
        AND mem_status = #{searchType}
    	</if>
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
		GROUP BY m.mem_idx
		ORDER BY m.mem_joindate DESC
       	LIMIT #{start}, 20
    </select>

    <select id="memberTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM member
        WHERE 1=1
        <if test="searchType != null and searchType != ''">
        AND mem_status = #{searchType}
    	</if>
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
    </select>

</mapper>