<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uni.fund.member.dao.MemberDAO">


	<insert id="write" useGeneratedKeys="true" keyColumn="mem_idx"
		keyProperty="mem_idx"
		parameterType="com.uni.fund.member.dto.MemberDTO">
		INSERT INTO member(mem_id, mem_pw, mem_name, mem_birth,
		mem_number, mem_gender, mem_email,
		mem_bankName, mem_bank, mem_uni,
		mem_post, mem_addr, mem_detail)
		VALUES(#{mem_id},#{mem_pw},#{mem_name},#{mem_birth},#{mem_number},#{mem_gender},#{mem_email},#{mem_bankName},
		#{mem_bank},#{mem_uni},#{mem_post},#{mem_addr},#{mem_detail})
	</insert>

	<select id="login"
		resultType="com.uni.fund.member.dto.MemberDTO">
		select * from member
		WHERE mem_id = #{param1} AND mem_pw = #{param2}
	</select>

	<select id="memberList"
		 >
		Select mem_idx, mem_id, mem_pw, mem_name, mem_birth,
		mem_number, mem_gender, mem_email,
		mem_bankName, mem_bank, mem_cor,
		mem_uni, mem_joindate, mem_status, mem_post, mem_addr, mem_detail,
		mem_cash, mem_mileage FROM member
	</select>


	<select id="overlay" resultType="int">
		select count(mem_id) from member
		where mem_id = #{param1}
	</select>
	
	
	<select id="findId" resultType="String">
    SELECT mem_id
    FROM member
    WHERE mem_name = #{param1} AND mem_number = #{param2}
	</select>


 <insert id="fileWrite">
        <if test='param3 == "A"'>
            insert into photo (pho_name, ref_idx, pho_division)
            values(#{param1},#{param2},'프로필')
        </if>
        <if test='param3 == "B"'>
            insert into photo (pho_name, ref_idx, pho_division)
            values(#{param1},#{param2},'재학증명서')
        </if>
   </insert>
   
   
   <update id = "findPw">
     UPDATE member 
      SET mem_pw = #{param1}
      WHERE mem_id = #{param2} AND mem_number=#{param3}
   </update>
   
   
   <select id="memberListAjax" parameterType="map" resultType="com.uni.fund.member.dto.MemberDTO">
      	SELECT m.*, m.mem_joindate, COUNT(pt.ref_idx) AS ref_idx_cnt, COUNT(mm.mem_mng_idx) AS stop_mem_idx
		FROM member m
		LEFT JOIN rep_trans pt ON pt.ref_idx = m.mem_idx
		LEFT JOIN mem_mng mm ON mm.mng_div = m.mem_idx
		WHERE 1=1
		<if test="searchType != null and searchType != ''">
        AND mem_status = #{searchType}
    	</if>
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
		GROUP BY m.mem_idx
		ORDER BY m.mem_joindate DESC,  m.mem_idx DESC
       	LIMIT #{start}, 10
    </select>

    <select id="memberTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM member
        WHERE 1=1
        <if test="searchType != null and searchType != ''">
        AND mem_status = #{searchType}
    	</if>
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
    </select>
    
    <select id="adminMemberJoinReqAjax" parameterType="map" resultType="com.uni.fund.member.dto.MemberDTO">
      	SELECT m.*,mn.mng_div FROM member m
		LEFT JOIN mem_mng mn ON m.mem_idx = mn.mem_idx
		WHERE mem_status = 'B'
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
		GROUP BY mem_idx
		ORDER BY mem_joindate DESC
       	LIMIT #{start}, 10
    </select>

    <select id="memberJoinCnt" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM member
        WHERE mem_status = 'B'
		<if test="keyword != null and keyword != ''">
        AND mem_id LIKE CONCAT('%', #{keyword}, '%')
    	</if>
    </select>
    
    <update id="adminMemberSubmitStatus" parameterType="map">
        UPDATE member SET mem_status='Y' WHERE mem_idx = #{mem_idx}
    </update>

	<update id="adminMemberRefuseStatus" parameterType="map">
		UPDATE member SET mem_status='R',mem_id='REFUSE' WHERE mem_idx = #{mem_idx}
	</update>
	
	<insert id="adminAddRefuseStatusTable" parameterType="map">
		INSERT INTO mem_mng(mem_idx,mng_idx,mng_rsn, mng_div)VALUES(#{mem_idx},1,'가입심사결과 부적합','거절')
	</insert>
	
	<insert id="adminAddSubmitStatusTable" parameterType="map">
		INSERT INTO mem_mng(mem_idx,mng_idx,mng_rsn, mng_div)VALUES(#{mem_idx},1,'회원가입 승인','승인')
	</insert>
	
	<select id="adminMemberDetail" resultType="com.uni.fund.member.dto.MemberDTO">
	 	SELECT 
				m.*,i.*,mm.mng_rsndate,mm.mng_stopdate,count(rt.ref_idx) as ref_idx_cnt,COUNT(mm.mem_mng_idx) AS stop_mem_idx
			    , (SELECT pho_name 
			    	FROM photo
				    WHERE pho_division = '재학증명서'
				    AND ref_idx = m.mem_idx
				    ORDER BY pho_idx DESC
				    LIMIT 1) as uni_file
				 , (SELECT pho_name 
			    	FROM photo
				    WHERE pho_division = '프로필'
				    AND ref_idx = m.mem_idx
				    ORDER BY pho_idx DESC
				    LIMIT 1) as profile_file
			FROM member m
			LEFT JOIN introduction i ON m.mem_idx = i.mem_idx
			LEFT JOIN rep_trans rt ON m.mem_idx = rt.ref_idx
			LEFT JOIN mem_mng mm ON mm.mng_div = m.mem_idx
			where m.mem_idx = #{param1}
	</select>

	<select id="memActPhoList" resultType="com.uni.fund.member.dto.MemberDTO">
    	SELECT pho_name
    	FROM photo
    	WHERE ref_idx = #{param3} AND pho_division = '프로젝트대표사진'
   	 	ORDER BY pho_idx ASC
    	LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="memActPhoListCnt" resultType="int">
    	SELECT CEIL(COUNT(*) / #{param1}) AS pages
    	FROM photo
    	WHERE ref_idx = #{param2} AND pho_division = '프로젝트대표사진'
	</select>
	
	<insert id="stopMemberApply">
		INSERT INTO mem_mng(mem_idx,mng_idx,mng_rsn,mng_stopdate,mng_div,mng_rsndate) VALUES(#{mem_idx},#{admin_idx},#{mng_rsn},#{mng_stopdate},'정지',now());
	</insert>
	
	<update id="updatStopeMemberStatus" parameterType="map">
		UPDATE member SET mem_status='S' WHERE mem_idx=#{mem_idx}
	</update>
	
	
</mapper>