<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="com.uni.fund.money.dao.MoneyDAO">
	<update id="chargeDo">
		UPDATE member 
			SET mem_cash = (select mem_cash from member where mem_idx = #{param2}) + #{param1} where mem_idx = #{param2}
	</update>
	
	<insert id="chargeHis">
		INSERT INTO cash(mem_idx,cash_content,cash_amount,ref_idx,cash_division)
			VALUES (
				#{param2},
				'+',
				#{param1},
				'0',
				'충전'
				);
	</insert>
</mapper>