<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="com.uni.fund.admin.dao.AnnouncementDAO">

	<select id="annList"
		resultType="com.uni.fund.admin.dto.AnnouncementDTO">
		SELECT noti_idx, noti_title, noti_date, noti_top
		FROM
		announcement
		WHERE noti_status = 'A'
		ORDER BY noti_top DESC, noti_idx
		DESC
		LIMIT #{param1}, #{param2}
	</select>

	<select id="adminList"
		resultType="com.uni.fund.admin.dto.AnnouncementDTO">
		SELECT a.noti_idx, m.mem_id, a.noti_title, a.noti_date,
		a.noti_top, a.noti_status
		FROM
		announcement a join member m ON a.mng_idx
		= m.mem_idx
		ORDER BY noti_top DESC, noti_idx DESC
		LIMIT #{param1},
		#{param2}
	</select>

	<update id="updateAnnouncementStatus">
		UPDATE announcement
		SET noti_status = #{status}
		WHERE noti_idx IN
		<foreach collection="notiIdxList" item="notiIdx" separator=","
			open="(" close=")">
			#{notiIdx}
		</foreach>
	</update>

	<select id="annListSearch"
		resultType="com.uni.fund.admin.dto.AnnouncementDTO">
		SELECT *
		FROM announcement
		where noti_title like
		concat('%',#{param1},'%')
		ORDER BY noti_top DESC,
		noti_idx DESC
		LIMIT
		#{param2}, #{param3}

	</select>


	<select id="adminListSearch"
		resultType="com.uni.fund.admin.dto.AnnouncementDTO">
		SELECT *
		FROM announcement
		where noti_title like
		concat('%',#{param1},'%')
		ORDER BY noti_top DESC,
		noti_idx DESC
		LIMIT
		#{param2}, #{param3}

	</select>



	<select id="allCount" resultType="Integer">
		SELECT CEIL(COUNT(*) /
		#{pagePerCnt}) AS pages
		FROM announcement
	</select>

	<insert id="adminAnnForm" useGeneratedKeys="true"
		keyColumn="noti_idx" keyProperty="noti_idx"
		parameterType="com.uni.fund.admin.dto.AnnouncementDTO">
		INSERT INTO
		announcement(mng_idx,noti_title,noti_content,noti_top)
		VALUES
		(#{mng_idx},#{noti_title},#{noti_content},#{noti_top})
	</insert>

	<insert id="createNotiPhoto">
		INSERT INTO photo(ref_idx, pho_name, pho_division)
		VALUES(#{param1},#{param2},#{param3})
	</insert>

	<select id="searchAllCount" resultType="int">
		SELECT
		CEIL(COUNT(noti_idx)/#{param2})
		FROM announcement
		where noti_title like
		concat('%',#{param1},'%')
		ORDER BY noti_top DESC,
		noti_idx DESC
	</select>


	<select id="annDetail"
		resultType="com.uni.fund.admin.dto.AnnouncementDTO">
		SELECT noti_title,noti_date,noti_content,noti_top from announcement
		where noti_idx =
		#{param1};


	</select>


	<select id="notiPhoto" resultType="String">
		SELECT pho_name FROM photo
		WHERE ref_idx = #{noti_idx} AND pho_division =
		'공지사항사진'
	</select>

	<update id="adminAnnUpdate" parameterType="map">
		UPDATE announcement
		SET noti_title = #{noti_title},
		noti_content = #{noti_content},
		noti_top = #{noti_top},
		mng_idx = #{mng_idx}
		WHERE noti_idx =
		#{noti_idx}

	</update>


	<update id="updateNotiPhoto">
		UPDATE photo
		SET pho_name = #{param2}
		,pho_division = #{param3}
		WHERE ref_idx = #{param1}
	</update>


<select id="photoCount" resultType="int">
SELECT count(ref_idx)
FROM photo
WHERE ref_idx = #{parma1} AND pho_division = '공지사항사진'
</select>


































</mapper>