<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="com.uni.fund.mypage.dao.MypageDAO">
   <select id="profile" resultType="com.uni.fund.mypage.dto.MypageDTO">
      SELECT mem_id,mem_pw,mem_name,mem_birth,mem_number,mem_gender,
            mem_email,mem_bankName,mem_bank,mem_cor,mem_uni,mem_joindate,
            mem_status,mem_post,mem_addr,mem_detail,mem_cash,mem_mileage,
            (SELECT crew_name FROM crew Where mem_idx = #{userId}) as crew_name
      FROM member WHERE mem_idx = #{userId}
   </select>
   <select id="profileUp" resultType="com.uni.fund.mypage.dto.MypageDTO">
      SELECT mem_id,mem_pw,mem_name,mem_birth,mem_number,mem_gender,
            mem_email,mem_bankName,mem_bank,mem_cor,mem_uni,mem_joindate,
            mem_status,mem_post,mem_addr,mem_detail,mem_cash,mem_mileage,
            (SELECT crew_name FROM crew Where mem_idx = #{userId}) as crew_name
      FROM member WHERE mem_idx = #{userId}
   </select>
   <insert id="fileUpdate" parameterType="String">
         INSERT INTO photo(pho_name,ref_idx,pho_division) VALUES(#{param1},#{param2},1)
   </insert>
   <update id="proUpdo">
         UPDATE member SET mem_number = #{number},mem_post = #{post},mem_addr = #{addr},
            mem_detail=#{detail}, mem_email=#{email}, mem_bankName = #{bankName}, mem_bank= #{bank}
         WHERE member.mem_id = #{id}
   </update>
   <select id="getIdx" resultType="String">
         SELECT mem_idx FROM member WHERE member.mem_id = #{id}
   </select>
   <select id="proPhoto" resultType="String">
         SELECT pho_name FROM photo WHERE ref_idx = #{userId} AND pho_division = #{userId}
   </select>
</mapper>