<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="com.uni.fund.crew.dao.CrewDAO">
	<select id="crewOverlay" resultType="int">
		SELECT COUNT(crew_name) FROM crew WHERE crew_name = #{param1}
	</select>
	
	<insert id="crewCreateDo"
	useGeneratedKeys="true" 
	keyColumn="crew_idx" 
	keyProperty="crew_idx"
	 parameterType="com.uni.fund.crew.dto.CrewDTO">
		INSERT INTO crew (mem_idx,crew_name,crew_exp,crew_con,crew_num,crew_link,crew_local)
		VALUES(#{mem_idx},#{crew_name},#{crew_exp},#{crew_con},#{crew_num},#{crew_link},#{crew_local})
	</insert>
	
	<insert id="createCrewLogoPhoto">
		INSERT INTO photo(pho_name,ref_idx,pho_division)
		VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<insert id="createCrewRecruPhoto">
		INSERT INTO photo(pho_name,ref_idx,pho_division)
		VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	
	
</mapper>