<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? -->
<mapper namespace="com.uni.fund.crew.dao.CrewDAO">
	<select id="crewOverlay" resultType="int">
		SELECT COUNT(crew_name) FROM crew WHERE crew_name = #{param1}
	</select>
	
	<insert id="crewCreateDo"
		useGeneratedKeys="true" 
		keyColumn="crew_idx" 
		keyProperty="crew_idx"
		 parameterType="com.uni.fund.crew.dto.CrewDTO">
		INSERT INTO crew (mem_idx,crew_name,crew_exp,crew_con,crew_num,crew_link,crew_local)
			VALUES(#{mem_idx},#{crew_name},#{crew_exp},#{crew_con},#{crew_num},#{crew_link},#{crew_local})
	</insert>
	
	<insert id="createCrewLogoPhoto">
		INSERT INTO photo(ref_idx, pho_name, pho_division)
		VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<insert id="createCrewRecruPhoto">
		INSERT INTO photo(ref_idx, pho_name, pho_division)
		VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<select id="crewUpdateForm" resultType="com.uni.fund.crew.dto.CrewDTO">
		SELECT crew_idx,crew_name,crew_exp,crew_con,crew_num,crew_link,crew_local
			FROM crew WHERE crew_idx = ${param1}
	</select>
	
	<select id="crewPhoto" resultType="com.uni.fund.crew.dto.CrewDTO">
		SELECT pho_name
		FROM crew c 
		JOIN (
  		  SELECT * 
    		FROM photo 
    		WHERE pho_division = '크루로고' OR pho_division='모집설명'
		) p ON c.crew_idx = p.ref_idx			
	</select>
	<update id="crewUpdate" parameterType="map">
		UPDATE crew SET
			<!-- crew_name=#{crew_name}, -->
			crew_exp=#{crew_exp},
			crew_con=#{crew_con},
			crew_num=#{crew_num},
			crew_link=#{crew_link},
			crew_local=#{crew_local}
		WHERE crew_idx=	#{crew_idx}
	</update>
	
	
	
	
</mapper>